Source: mdb-locales
Section: localization
Priority: standard
Maintainer: usernamedt <usernamedt@protonmail.ch>
Standards-Version: 2.3.1
Build-Depends: debhelper (>= 9)
Homepage: https://github.com/postgredients/mdb-locales 

Package: mdb-locales
Architecture: any
Description: mdb-locales

Package: libmdblocales-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libmdblocales1
Description: libmdblocales dev lib (headers included)

Package: libmdblocales1
Architecture: any
Multi-Arch: same
Depends: libc6 (>= 2.14)
Description: libmdblocales
